<div *ngFor="let selection of trackSelectionsWithAlts" class="row">
  <div class="track-name row" (click)="onToggleTrackSelection(selection)">
    <div class="col-xs-12 track-grid-wrapper">
      <div class="track-grid-item track-grid-left">
        <h1>{{selection.selectionName.split('-')[0].trim()}}</h1>
      </div>
      <div class="track-grid-item">
        <i class="fa fa-caret-down fa-3x" *ngIf="!selection.expanded"></i>
        <i class="fa fa-caret-up fa-3x" *ngIf="selection.expanded"></i>
      </div>
    </div>
  </div>
  <div class="track-selection row" *ngIf="selection.expanded" [@shrinkGrow]="'in'">
    <div class="col-xs-12">
      <p [innerHtml]="selection.instructions"></p>
    </div>
    <div class="course-selection col-xs-12" *ngFor="let course of selection.courseSelections" [@shrinkGrow]="'in'">
      <div class="checkbox-container col-xs-10" *ngIf="selection.allowAlternates"
           (click)="onClickCheckbox(isDisabled(course), course)"
           [ngClass]="{disabled: isDisabled(course)}">
        <div class="checkbox col-xs-3">
          <input type="checkbox" [id]="course.oid" [name]="course.oid"
                 [checked]="course.isAlternateSelection"
                 [disabled]="isDisabled(course)">
          <label [ngClass]="{disabled: isDisabled(course)}">
            <i class="fa fa-check"></i>
          </label>
        </div>
        <div class="col-xs-9">
          {{course.courseDescription}}<br/>
          {{course.courseNumber}}
        </div>
      </div>
      <div class="col-xs-1 info">
        <div class="text-center">
          <a [title]="course.courseNumber" class="detail-link" href="javascript:void(0);"
             (click)="showDescriptionPopup(course)"><i
            class="fa fa-info-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
