<div *ngFor="let selection of trackSelectionsWithAlts" class="row">
  <div class="track-name row" (click)="onToggleTrackSelection(selection)">
    <div class="col-xs-12 track-grid-wrapper">
      <div class="track-grid-item track-grid-left">
        <h1>{{selection.selectionName.split('-')[0].trim()}}</h1>
      </div>
      <div class="track-grid-item">
        <h1>{{selection.semester}}</h1>
      </div>
      <div class="track-grid-item"></div>
      <div class="track-grid-item">
        <i class="fa fa-caret-down fa-3x" *ngIf="!selection.expanded"></i>
        <i class="fa fa-caret-up fa-3x" *ngIf="selection.expanded"></i>
      </div>
    </div>
  </div>
  <div class="track-selection row" *ngIf="selection.expanded" [@shrinkGrow]="'in'">
    <div class="col-xs-12">
      <p [innerHtml]="selection.instructions"></p>
    </div>
    <div class="course-selection col-xs-12" *ngFor="let course of selection.courseSelections" [@shrinkGrow]="'in'">
      <app-course-checkbox [course]="course"
                           [educationId]="educationId"
                           [isPrimary]="false"
                           [selection]="selection"></app-course-checkbox>
    </div>
  </div>
</div>
