<div class="checkbox-container col-xs-9 col-md-10"
     (click)="onClickCheckbox()"
     [ngClass]="{disabled: isDisabled()}">
  <div class="checkbox col-xs-3 col-md-2" *ngIf="!course.isUpdating">
    <input type="checkbox" [id]="course.courseNumber" [name]="course.courseNumber"
           [checked]="isChecked()"
           [disabled]="isDisabled()">
    <label [ngClass]="{disabled: isDisabled()}">
      <i class="fa fa-check"></i>
    </label>
  </div>
  <div class="checkbox col-xs-3 col-md-2" *ngIf="course.isUpdating">
    <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
  </div>
  <div class="col-xs-9 col-md-8 description">
    <h3>{{course.courseDescription}}</h3>
    <span *ngIf="course.isPrimarySelection && !isPrimary">Chosen as a primary choice</span>
    <span *ngIf="course.isAlternateSelection && isPrimary">Chosen as an alternate choice</span>
  </div>
</div>
<div class="info col-xs-2 col-md-1">
  <div class="text-center">
    <a [title]="course.courseNumber + ': ' + course.courseDescription + ' description'" class="detail-link"
       href="javascript:void(0);"
       (click)="showDescriptionPopup()"><i
      class="fa fa-info-circle"></i></a>
  </div>
</div>
