.checkbox-container {
  color: white;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: all 0.3s cubic-bezier(.25, .8, .7, 1);

  cursor: pointer;

  padding: 0.5em 0;

  h4 {
    font-size: 1.3rem;
  }

  &.disabled, &.disabled:hover {
    h4 {
      text-decoration: line-through;
    }
    cursor: not-allowed;
  }

  .description {
    margin: 10px 0;
  }

  .checkbox {
    input[type="checkbox"] + label {
      color: white;
      border-color: white;
    }

    label {
      color: white;
      i {
        color: white;
        position: relative;
        left: -25px;
      }

      &.disabled {
        cursor: not-allowed;
      }
    }
  }
}

.detail-link {
  position: relative;
  top: 10px;
  color: white;
  font-size: 1.3em;
}

.full-year {
  font-size: 0.65em;
}

.info {
  color: white;
  cursor: pointer;
}
