<div class="checkbox-container col-9 col-md-10 align-items-center d-flex"
     (click)="onClickCheckbox()"
     [ngClass]="{disabled: isDisabled()}">
  <div class="checkbox col-3 col-md-2 d-flex align-items-center" *ngIf="!anyCourseUpdating">
    <input type="checkbox" [id]="course.courseNumber" [name]="course.courseNumber"
           [checked]="isChecked()"
           [disabled]="isDisabled()">
    <label [ngClass]="{disabled: isDisabled()}" class="mx-auto">
      <i class="fa fa-check pl-4"></i>
    </label>
  </div>
  <div class="checkbox col-3 col-md-2" *ngIf="anyCourseUpdating">
    <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
  </div>
  <div class="col-9 col-md-8 description">
    <h4>{{course.courseDescription}}<span *ngIf="course.relatedCourseNumber" class="full-year"> (Full Year)</span></h4>
    <span *ngIf="course.isPrimarySelection && !isPrimary">Chosen as a primary choice</span>
    <span *ngIf="course.isAlternateSelection && isPrimary">Chosen as an alternate choice</span>
    <span *ngIf="course.defaultIndicator">Required</span>
  </div>
</div>
<div class="info col-3 col-md-2 d-flex align-items-center" (click)="showDescriptionPopup()">
    <i class="fa fa-info-circle fa-2x mx-auto "></i>
</div>
