<ul class="nav nav-tabs">
  <li role="presentation" class="nav-item" *ngFor="let term of terms">
    <a [ngClass]="{active: term === selectedTerm}" href="javascript:void(0);" (click)="onChangeTerm(term)"
       class="nav-link">
      <i *ngIf="semesterComplete.get(term)" class="fa fa-check-circle"></i>
      <i *ngIf="semesterComplete.get(term) === false" class="fa fa-exclamation-triangle"></i>
      {{term}}
    </a>
  </li>
  <li role="presentation" class="nav-item" *ngIf="alternatesAvailable === true">
    <a [ngClass]="{active: alternatesSelected}" href="javascript:void(0);" (click)="onSelectAlternates()"
       class="nav-link">Alternates</a>
  </li>
  <li role="presentation" class="nav-item">
    <a [ngClass]="{active: reviewAndSubmitSelected}" href="javascript:void(0);" (click)="onSelectReviewAndSubmit()"
       class="nav-link">Review & Submit</a>
  </li>
</ul>
<div class="well">
  <app-track-selections *ngIf="alternatesSelected === false && reviewAndSubmitSelected === false"
                        [educationId]="educationId"
                        [requiredSelections]="academicTrack.requiredBySemester.get(selectedTerm)"
                        [trackSelections]="academicTrack.trackSelectionsBySemester.get(selectedTerm)"></app-track-selections>
  <app-alternates *ngIf="alternatesSelected === true"
                  [educationId]="educationId"
                  [trackSelectionsWithAlts]="trackSelectionsWithAlternates"></app-alternates>
  <app-review-and-submit *ngIf="reviewAndSubmitSelected === true"
                         [educationId]="educationId"
                         [trackSelectionsBySemester]="academicTrack.trackSelectionsBySemester"></app-review-and-submit>
</div>
