.track-selection, .track-name {
  margin: 1em;
}

.track-selection {
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 5px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

.nav {
  margin-bottom: -1px;
}

.satisfied {
  color: springgreen;
}

.course-selection {
  margin: 1.0em;

  span {
    margin: 0.5em;
  }

  .checkbox-container {
    background: #fff;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: 2px solid #a7e6fb;

    transition: all 0.3s cubic-bezier(.25, .8, .7, 1);

    cursor: pointer;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    margin: 0 0.5em;
    padding: 0.5em;

    &:hover {
      background-color: #a7e6fb;
      border-color: #3cc7f6;
    }

    &.disabled, &.disabled:hover {
      background: #ddd;
      color: #aaa;
      border-color: #bbb;
      cursor: not-allowed;
    }

    .checkbox {
      label {
        i {
          position: relative;
          left: -20px;
        }

        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  .detail-link {
    position: relative;
    top: 10px;
    color: darkgray;
    font-size: 1.3em;
  }
}
