<ul class="nav nav-tabs">
  <li role="presentation"
      class="active"
      *ngFor="let term of terms"
      [ngClass]="{active: term === selectedTerm}">
    <a href="javascript:void(0);" (click)="onChangeTerm(term)">{{term}}</a>
  </li>
  <li role="presentation" *ngIf="alternatesAvailable === true" [ngClass]="{active: alternatesSelected}">
    <a href="javascript:void(0);" (click)="onSelectAlternates()">Alternates</a>
  </li>
  <li role="presentation"
      [ngClass]="{active: reviewAndSubmitSelected}">
    <a href="javascript:void(0);" (click)="onSelectReviewAndSubmit()">Review & Submit</a>
  </li>
</ul>
<div class="well">
  <app-track-selections *ngIf="alternatesSelected === false && reviewAndSubmitSelected === false"
                        [educationId]="educationId"
                        [trackSelections]="academicTrack.trackSelectionsBySemester.get(selectedTerm)"></app-track-selections>
  <app-alternates *ngIf="alternatesSelected === true"
                  [educationId]="educationId"
                  [trackSelectionsWithAlts]="trackSelectionsWithAlternates"></app-alternates>
  <app-review-and-submit *ngIf="reviewAndSubmitSelected === true"
                         [educationId]="educationId"
                         [trackSelectionsBySemester]="academicTrack.trackSelectionsBySemester"></app-review-and-submit>
</div>
