.request-list-container {
  padding: 1em;
  margin-bottom: 1.5em;

  h3 {
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
  }

  .course-header {
    padding-left: 0;
  }

  .course-row {
    padding: 0.5em 0;
    border-top: 1px solid #ccc;
    display: flex;

    &.first {
      border-top: 0;
    }
  }

  .course-header-row {
    padding: 1em 0 0 0;
    display: flex;
  }
}
