<div class="row">
  <div class="semester">
    <h4>Primary Selections</h4>
    <div class="alert alert-danger"
         *ngIf="selectedPrimaryCoursesBySemester.get(sem).length === 0">
      <i class="fa fa-exclamation-triangle" style="color:red"></i> You have not selected any primary course requests for
      this session.
    </div>
    <ul *ngIf="primaryCourses.length > 0">
      <li *ngFor="let course of primaryCourses">
        {{course.courseDescription}} | {{course.semesterDescription}}
      </li>
    </ul>

    <div *ngIf="alternatesAvailable">
      <h4>Alternate Selections</h4>
      <ul *ngIf="alternateCourses.length > 0">
        <li *ngFor="let course of alternateCourses">
          {{course.courseDescription}} | {{course.semesterDescription}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row check-description"
     [ngClass]="{disabled: canClickCheckbox() === false, clickable: canClickCheckbox()}"
     (click)="onClickCheckbox()">
  <div class="col-xs-2 col-md-1 text-right">
    <div class="checkbox">
      <input type="checkbox" [checked]="readyToSubmit"/>
      <label [ngClass]="{disabled: canClickCheckbox() === false}"><i class="fa fa-check"></i></label>
    </div>
  </div>
  <div class="col-xs-10 col-md-11">
    <div class="no-select nudge-down">
      I'm ready to submit my course requests.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 info-text margin-top-sm">
    Once you have submitted your course requests you won't be able to change this information.
    While we do our best to honor course requests, we are not able to guarantee placement in any course.
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-right margin-top-sm">
    <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="submitting === true"></i>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!readyToSubmit || submitting">
      Submit
    </button>
  </div>
</div>
