<div *ngFor="let selection of academicTrack.trackSelectionsBySemester.get(selectedTerm)" class="row">
  <div class="track-name row" (click)="onToggleTrackSelection(selection)">
    <div class="col-xs-12 track-grid-wrapper">
      <div class="track-grid-item">
        <i *ngIf="selection.selectedCount >= selection.minSelections"
           class="fa fa-check-circle satisfied fa-3x"></i>
        <i *ngIf="selection.selectedCount < selection.minSelections"
           class="fa fa-times-circle fa-3x not-satisfied"></i>
      </div>
      <div class="track-grid-item track-grid-left">
        <h1>{{selection.selectionName.split('-')[0].trim()}}</h1>
      </div>
      <div class="track-grid-item">
        Selections Required: {{selection.minSelections}}<br>
        Maximum selections: {{selection.maxSelections}}<br>
        Total Selected: {{selection.selectedCount}}
      </div>
      <div class="track-grid-item">
        <i class="fa fa-caret-down fa-3x" *ngIf="!selection.expanded"></i>
        <i class="fa fa-caret-up fa-3x" *ngIf="selection.expanded"></i>
      </div>
    </div>
  </div>
  <div class="track-selection row" *ngIf="selection.expanded" [@shrinkGrow]="'in'">
    <div class="col-xs-12">
      <p [innerHtml]="selection.instructions"></p>
    </div>
    <div class="course-selection col-xs-12" *ngFor="let course of selection.courseSelections" [@shrinkGrow]="'in'">
      <div class="checkbox-container col-xs-5"
           (click)="onClickCheckbox(isPrimaryDisabled(course, selection), course, true)"
           [ngClass]="{disabled: isPrimaryDisabled(course, selection)}">
        <div class="checkbox col-xs-3">
          <input type="checkbox" [id]="course.oid" [name]="course.oid"
                 [checked]="course.isPrimarySelection"
                 [disabled]="isPrimaryDisabled(course, selection)">
          <label [ngClass]="{disabled: isPrimaryDisabled(course, selection)}">
            <i class="fa fa-check"></i>
          </label>
        </div>
        <div class="col-xs-9">
          {{course.courseDescription}}<br/>
          {{course.courseNumber}}
        </div>
      </div>
      <div class="checkbox-container col-xs-5" *ngIf="selection.allowAlternates"
           (click)="onClickCheckbox(isAlternateDisabled(course), course, false)"
           [ngClass]="{disabled: isAlternateDisabled(course)}">
        <div class="checkbox col-xs-3">
          <input type="checkbox" [id]="course.oid + 'alternate'" [name]="course.oid + 'alternate'"
                 [checked]="course.isAlternateSelection"
                 [disabled]="isAlternateDisabled(course)">
          <label [ngClass]="{disabled: isAlternateDisabled(course)}">
            <i class="fa fa-check"></i>
          </label>
        </div>
        <div class="col-xs-9">
          Alternate
        </div>
      </div>
      <div class="col-xs-1 info">
        <div class="text-center">
          <a [title]="course.courseNumber" class="detail-link" href="javascript:void(0);"
             (click)="showDescriptionPopup(course)"><i
            class="fa fa-info-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
